@using Microsoft.EntityFrameworkCore
@page "/employees"
<PageTitle>Сотрудники</PageTitle>
<h1>Сотрудники банка</h1>
@if (_employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
  <div style="font-size: 1.3em">
    <h3>Найти сотрудника</h3>
        <InputText @bind-Value="_SearchId" placeholder="Идентификатор" style="width: 300px; margin-bottom: 20px; font-size: 1em"></InputText>
    <button class="btn btn-info" @onclick="GetEmployeeClick">Найти</button>
        <div>
        <h3>Фильтрация по дате рождения</h3>
            <InputDate @bind-Value="@_startDate" min="1900-01-01" style="margin-bottom: 20px; font-size: 1.1em" />
            <InputDate @bind-Value="@_endDate" min="1900-01-01" style="margin-bottom: 20px; font-size: 1.1em" />
        <button class="btn btn-info" @onclick="FilterEmployeesClick">Найти</button>
        </div>
    <div class="form-group" style="margin-bottom: 20px">
        <a class="btn btn-info" href="createemployee">
        <i class="oi oi-plus"></i>Добавить сотрудника</a>
    </div>
    <table class=" table table-striped ">
        <thead>
            <tr>
                <th style="width:10%">Идентификатор</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Номер телефона</th>
                <th>Паспорт</th>
                <th>Должность</th>
                <th>ЗП</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Employee emp in _employees)
            {
                <tr>
                    <td style="width:10%">@emp.EmployeeId</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.DateOfBirth</td>
                    <td>@emp.Phone</td>
                    <td>@emp.Passport</td>
                    <td>@emp.Position</td>
                    <td>@emp.Salary</td>
                    <td>
                        <a class="btn btn-info" href="editemployee/@emp.EmployeeId">
                            <i class="oi oi-pencil"></i></a>
                        <a class="btn btn-danger" href="deleteemployee/@emp.EmployeeId">
                            <i class="oi oi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   </div>
}
@code {
    private DateOnly _startDate = new(1900, 01, 01);
    private DateOnly _endDate = DateOnly.FromDateTime(DateTime.Now);
    private string? _SearchId;
    private IEnumerable<Employee>? _employees;

    protected override async Task OnParametersSetAsync()
    {
        using (HttpClient http = new())
        {
            _employees = await http.GetFromJsonAsync<IEnumerable<Employee>>("https://localhost:5001/api/employees");
        }
    }
    private async Task GetEmployeeClick()
    {
        _startDate = new(1900, 01, 01);
        _endDate = DateOnly.FromDateTime(DateTime.Now);
        using (HttpClient http = new())
        {
            HttpResponseMessage response = await http.GetAsync($"https://localhost:5001/api/employees/{_SearchId}");

            if (response.IsSuccessStatusCode && !string.IsNullOrEmpty(_SearchId?.Trim()))
            {
                Employee? employee = await response.Content.ReadFromJsonAsync<Employee>();

                if (employee is not null)
                {
                    _employees = new[] { employee };
                }
                else
                {
                    _employees = Enumerable.Empty<Employee>();
                }
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.NotFound || string.IsNullOrEmpty(_SearchId?.Trim()))
            {
                await OnParametersSetAsync();
            }
        }
        StateHasChanged();
    }

    private async Task FilterEmployeesClick()
    {
        if (_employees is not null)
        {
            _employees = _employees.Where(p => (p.DateOfBirth > _startDate && p.DateOfBirth < _endDate));
            if (_employees.Count() == 0)
            {
                _SearchId = string.Empty;
                await GetEmployeeClick();
            }
        }
        StateHasChanged();
    }

}
