@page "/fetchdata"
@using BankingService.Data
@inject CurrencyService currency

<PageTitle>Конвертер</PageTitle>

<h1>Сервис обмена валют</h1>

<div style="font-size: 1.5em">
    <hr />
<div class="card text-center">
    <div class="card-header">
        Покупка
    </div>
    <div class="card-body">
        <p class="card-text">Выбор валют</p>
        <div class="flex-column">
            <InputSelect @bind-Value="selectedFrom">
                @foreach (var currency in currencies)
                {
                    <option value="@currency">@currency</option>
                }
            </InputSelect>
                &rarr;
            <InputSelect @bind-Value="selectedTo">
                @foreach (var currency in currencies)
                { 
                    <option value="@currency">@currency</option>
                }
            </InputSelect>
        </div>
        <div class="flex-column">
                <InputNumber @bind-Value="@amountFrom" />
                &rarr;
                <InputNumber @bind-Value="@amountTo" disabled="true" />
        </div>
        <a @onclick="SellClick" style="margin-top: 10px; color: white" class="btn btn-primary">Продать</a>
    </div>
</div>
<hr />
<div class="card text-center">
    <div class="card-header">
        Продажа
    </div>
        <div class="card-body">
            <p class="card-text">Выбор валют</p>
            <div class="flex-column">
                <InputSelect @bind-Value="selectedFrom">
                    @foreach (var currency in currencies)
                    {
                        <option value="@currency">@currency</option>
                    }
                </InputSelect>
                &rarr;
                <InputSelect @bind-Value="selectedTo">
                    @foreach (var currency in currencies)
                    {
                        <option value="@currency">@currency</option>
                    }
                </InputSelect>
            </div>
            <div class="flex-column">
                <InputNumber @bind-Value="@amountFrom" />
                &rarr;
                <InputNumber @bind-Value="@amountToBuy" disabled="true" />
            </div>
            <a @onclick="BuyClick" style="margin-top: 10px; color: white" class="btn btn-primary">Купить</a>
    </div>
</div>

</div>
<RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Filled" Shade="Shade.Light" Visible="showerror">
    Сервис обмена валют временно не работает. Проверьте ограничения ключа Amdoren API.
</RadzenAlert>
@code {
    private bool showerror = false;
    private decimal amountFrom = 1;
    private decimal amountTo;
    private decimal amountToBuy;
    private string selectedFrom = "USD";
    private string selectedTo = "BYN";
    private readonly string[] currencies = new[] {"USD", "RUB", "MDL", "EUR", "BYN"};

    private async Task SellClick()
    {
        showerror = false;
        AmdorenResponse response = await currency.Convert(new ConvertCurrency()
            {
                From = selectedFrom,
                To = selectedTo,
                Amount = amountFrom
            });
        if (response.Error == 0)
        {
            amountTo = response.Amount-response.Amount*0.02M;
        }
        else
        {
            showerror = true;
        }
    }

    private async Task BuyClick()
    {
        showerror = false;
        AmdorenResponse response = await currency.Convert(new ConvertCurrency()
            {
                From = selectedFrom,
                To = selectedTo,
                Amount = amountFrom
            });
        if (response.Error == 0)
        {
            amountToBuy = response.Amount + response.Amount * 0.05M;
        }
        else
        {
            showerror = true;
        }
    }
}
